.widget {
  text-align: center;
  width: 100%;
}

.widget-nav {
  background-color: var(--backgroundColor, #F7F4EF);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.order-button {
  display: block;
  background: var(--buttonColor, #fdc831);
  border-radius: 4px;
  cursor: pointer;
  color: black;
  padding: 12px 24px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px 16px 5px 16px;
}

.nav-text {
  color: black;
  margin: 0 16px 0 16px;
}
